/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.container {
  width: 90%;
  max-width: 1150px;
  margin: 0 auto; }

a {
  display: block; }

span {
  display: inline-block; }

.main-heading {
  background-color: #111;
  height: 9rem; }

.heading-secondary {
  background-color: #111;
  height: 6rem; }

.u-mt-2 {
  margin-top: 2rem !important; }

.u-mt-5 {
  margin-top: 5rem !important; }

.u-mr-1 {
  margin-right: 1rem !important; }

.articles-collection__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  row-gap: 8rem; }
  @media (max-width: 1000px) {
    .articles-collection__row {
      grid-template-columns: 1fr; } }

.featured {
  padding: 3rem; }
  .featured__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem; }
    @media (max-width: 750px) {
      .featured__row {
        flex-wrap: wrap-reverse; } }
  .featured__header {
    flex: 1; }

.guides {
  margin: 4rem 0; }
  .guides__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem; }

.headline-content {
  padding: 6rem 0; }
  .headline-content__row {
    display: flex;
    gap: 3rem; }
    .headline-content__row > *:first-child {
      flex: 1 1 65%; }
    .headline-content__row > *:last-child {
      flex: 1  1 34%; }
    @media (max-width: 1200px) {
      .headline-content__row {
        flex-wrap: wrap; } }
  .headline-content .author-post__row {
    display: flex;
    align-items: center;
    gap: 3rem; }
    @media (max-width: 650px) {
      .headline-content .author-post__row {
        flex-direction: column; } }
    .headline-content .author-post__row:last-child {
      flex: 1; }
  .headline-content .author-post__text-box {
    width: 100%;
    flex: 1 1 100%; }
  .headline-content .author-post__text-box-row {
    display: flex; }
  .headline-content__posts {
    margin-top: 5rem; }

.latest-posts__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem; }

.header-nav {
  background-color: rgba(153, 153, 153, 0.8);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem; }
  @media (max-width: 1200px) {
    .header-nav > * {
      flex: 1 1 100%; } }

.round-img {
  border-radius: 5px;
  transform: rotate(-10deg);
  background-color: rgba(34, 34, 34, 0.9); }
  .round-img--xl {
    width: 15rem;
    height: 15rem; }
  .round-img--lg {
    width: 10rem;
    height: 10rem;
    box-shadow: 0 0.7rem 1.5rem rgba(0, 0, 0, 0.4); }
  .round-img--medium {
    width: 7.5rem;
    height: 7.5rem; }
  .round-img--sm {
    width: 4.5rem;
    height: 4.5rem; }
  .round-img--xs {
    width: 3rem;
    height: 3rem; }

.logo {
  display: block;
  width: 6rem;
  height: 2rem;
  background-color: rgba(102, 102, 102, 0.7); }

.nav {
  flex: 0 0 60%; }
  .nav__list {
    display: flex;
    justify-content: space-evenly;
    list-style: none; }
  .nav__item {
    width: 5rem;
    height: 1.5rem; }
    @media (max-width: 1200px) {
      .nav__item:nth-child(2) {
        display: none; } }
    @media (max-width: 1000px) {
      .nav__item:nth-child(1) {
        display: none; } }
    @media (max-width: 850px) {
      .nav__item:not(:last-child) {
        display: none; } }
    .nav__item:not(:last-child) {
      background-color: rgba(119, 119, 119, 0.4);
      margin-right: 1.2rem; }
    .nav__item:last-child {
      background-color: #555; }

.search-form__control {
  width: 15rem;
  height: 2rem;
  background-color: #444; }
  @media (max-width: 1200px) {
    .search-form__control {
      flex: 1 1 100%; } }

.tags {
  background-color: #666;
  width: 6rem;
  height: 3rem;
  display: flex;
  align-items: center; }
  .tags:is(.tags__link) {
    margin-right: 1rem; }

.headline-content {
  background-color: #999; }
  .headline-content .posts {
    padding-right: 4rem; }
    @media (max-width: 1200px) {
      .headline-content .posts {
        padding-right: 0; } }
  .headline-content .author-post__link {
    width: 5rem;
    height: 2rem;
    margin-bottom: 2rem;
    background-color: #444; }
  .headline-content .author-post__tags {
    margin-top: 1.5rem; }
  .headline-content .author-post__paragraph {
    height: 5rem;
    margin: 2rem 0;
    background-color: rgba(102, 102, 102, 0.4); }
  @media (max-width: 650px) {
    .headline-content .author-post__img-box {
      align-self: flex-start; } }
  .headline-content__promo-box {
    margin-top: 6.2rem;
    background-color: rgba(85, 85, 85, 0.3); }
  .headline-content .promo-box {
    position: relative;
    height: 36rem;
    padding: 3rem; }
    .headline-content .promo-box__img-box {
      position: absolute;
      display: block;
      transform: translate(-50%, -50%);
      top: 0;
      left: 50%;
      width: 10rem;
      height: 10rem;
      margin-bottom: 6rem;
      border-radius: 50%;
      background-color: #333; }
    .headline-content .promo-box__btn {
      margin: 6rem auto 1.5rem auto;
      width: 10rem;
      height: 3rem;
      background-color: #333; }
    .headline-content .promo-box__title {
      background-color: rgba(51, 51, 51, 0.7);
      height: 5rem;
      margin-bottom: 1.5rem; }
    .headline-content .promo-box__paragraph {
      height: 7rem;
      background-color: #777; }
      .headline-content .promo-box__paragraph--muted {
        margin-top: 1rem;
        height: 1.2rem;
        background-color: rgba(119, 119, 119, 0.5); }
    .headline-content .promo-box__email-form {
      margin-top: 1.5rem;
      height: 3.5rem;
      background-color: #222; }
  .headline-content__footer {
    margin: 8rem auto 0 auto;
    width: 5rem;
    height: 2rem;
    background-color: #555; }

.latest-posts {
  background-color: rgba(102, 102, 102, 0.4);
  padding: 5rem 0; }
  .latest-posts .latest-post {
    margin-bottom: 5rem; }
    .latest-posts .latest-post__title {
      height: 6rem;
      margin-bottom: 1.5rem;
      background-color: #111; }
    .latest-posts .latest-post__author-link {
      width: 6rem;
      height: 2rem;
      background-color: #333; }
    .latest-posts .latest-post__paragraph {
      height: 5rem;
      margin: 2rem 0;
      background-color: #777; }
    .latest-posts .latest-post__link {
      width: 4rem;
      height: 1.5rem;
      background: #333; }
  .latest-posts__community {
    margin: 8rem 0;
    padding: 4rem; }
  .latest-posts__footer {
    margin: 0 auto;
    margin-top: 5rem;
    width: 10rem;
    height: 2rem;
    background-color: #444; }

.community {
  position: relative;
  border-radius: 10px;
  background: #999; }
  .community__img-box {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background: #222; }
  .community__header {
    margin-top: 4.5rem; }
  .community__title {
    width: 90%;
    height: 2.5rem;
    margin: 0 auto;
    background-color: #444; }
  .community__paragraph {
    height: 4rem;
    background-color: rgba(102, 102, 102, 0.4);
    margin-top: 1.8rem; }
  .community__footer {
    margin-top: 2.5rem; }
  .community__btn {
    width: 18rem;
    height: 3rem;
    margin: 0 auto;
    background-color: #111; }
  .community__sign-in-link {
    width: 9rem;
    height: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
    background-color: rgba(119, 119, 119, 0.4); }

.book-ad {
  background-color: rgba(17, 17, 17, 0.5);
  padding: 4rem 0; }
  @media (max-width: 900px) {
    .book-ad {
      padding: 4rem 3rem; } }
  :is(.book-ad__container, .book-ad__shipping-date, .book-ad__btn, .book-ad__img-box) {
    margin: 0 auto; }
  .book-ad__container {
    max-width: 700px;
    margin: 0 auto; }
  .book-ad__shipping-date {
    display: block;
    width: 14rem;
    height: 2rem;
    background-color: rgba(119, 119, 119, 0.5);
    margin: 0 auto; }
  .book-ad__title {
    margin-top: 2rem;
    height: 6rem;
    background-color: #111; }
  .book-ad__paragraph {
    margin-top: 3rem;
    height: 3rem;
    background-color: rgba(85, 85, 85, 0.5); }
  .book-ad__btn {
    margin-top: 3rem;
    width: 20rem;
    height: 4rem;
    background-color: #222; }
  .book-ad__img-box {
    width: 25rem;
    height: 25rem;
    margin: 0 auto;
    margin-top: 4rem;
    border-radius: 50%;
    background-color: #333; }
    @media (max-width: 900px) {
      .book-ad__img-box {
        width: 18rem;
        height: 18rem; } }

.guides .guide {
  padding: 3rem;
  background-color: rgba(119, 119, 119, 0.4); }
  .guides .guide__intro {
    width: 5rem;
    height: 2rem;
    margin-bottom: 1rem;
    background-color: rgba(119, 119, 119, 0.2); }
  .guides .guide__title {
    width: 15rem;
    height: 4.5rem;
    background-color: rgba(17, 17, 17, 0.9); }
  .guides .guide__paragraph {
    height: 10rem;
    margin: 3rem 0;
    background-color: #777; }
  .guides .guide__btn {
    width: 90%;
    height: 3.5rem;
    background-color: #111; }

.guides .newsletter {
  background-color: rgba(51, 51, 51, 0.6);
  padding: 2rem; }
  .guides .newsletter__img-box {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin: 0 auto;
    background-color: rgba(17, 17, 17, 0.8); }
  .guides .newsletter__title {
    margin-top: 3rem;
    width: 90%;
    height: 3rem;
    background-color: rgba(34, 34, 34, 0.9); }
  .guides .newsletter__paragraph {
    margin-top: 3rem;
    height: 6rem;
    background-color: rgba(119, 119, 119, 0.8); }
  .guides .newsletter__email-form {
    height: 5rem;
    margin-top: 3rem;
    background-color: #111111; }
  .guides .newsletter__footer {
    margin: 0 auto;
    margin-top: 1.5rem;
    width: 90%;
    height: 5rem;
    background-color: rgba(85, 85, 85, 0.8); }

.guides__footer {
  background-color: rgba(85, 85, 85, 0.9);
  width: 8rem;
  height: 2rem;
  margin: 0 auto;
  margin-top: 5rem; }

.featured {
  background-color: rgba(119, 119, 119, 0.2); }
  .featured__header {
    padding-right: 10rem; }
  .featured__intro {
    width: 10rem;
    height: 2.5rem;
    background-color: #777; }
  .featured__title {
    width: 20rem;
    height: 4rem;
    background-color: rgba(17, 17, 17, 0.9);
    margin: 1.5rem 0; }
  .featured__paragraph {
    height: 5rem;
    background-color: rgba(102, 102, 102, 0.4); }
  .featured__btn {
    margin-top: 2rem;
    width: 20rem;
    height: 4.2rem;
    background-color: #111; }
  .featured__img-box {
    position: relative;
    top: -7rem;
    right: 3rem;
    height: 23rem;
    width: 16rem;
    transform: rotate(-10deg);
    background-color: #222; }
    @media (max-width: 1000px) {
      .featured__img-box {
        top: -4rem;
        right: 5rem; } }
    @media (max-width: 900px) {
      .featured__img-box {
        right: 9rem; } }
    @media (max-width: 750px) {
      .featured__img-box {
        top: -3rem;
        left: 0;
        width: 15rem;
        height: 17rem; } }

.articles-collection {
  padding: 6rem 0;
  background-color: rgba(153, 153, 153, 0.4);
  min-height: 100vh; }
  .articles-collection .featured-article {
    margin-bottom: 8rem; }
    .articles-collection .featured-article__row {
      display: flex;
      gap: 4.5rem; }
      @media (max-width: 750px) {
        .articles-collection .featured-article__row {
          flex-direction: column; } }
    .articles-collection .featured-article__box {
      flex: 1; }
    .articles-collection .featured-article__intro {
      width: 7rem;
      height: 2rem;
      margin-bottom: 1.2rem;
      background-color: rgba(102, 102, 102, 0.4); }
    .articles-collection .featured-article__paragraph {
      height: 12rem;
      background-color: rgba(102, 102, 102, 0.9); }
  .articles-collection .curated-article__row {
    display: flex;
    gap: 2rem; }
    @media (max-width: 750px) {
      .articles-collection .curated-article__row {
        flex-direction: column; } }
  .articles-collection .curated-article__text-box {
    flex: 1; }
  .articles-collection .curated-article__author-name {
    width: 5rem;
    height: 1.8rem;
    background-color: #666;
    margin-bottom: 1.5rem; }
  .articles-collection .curated-article__title {
    width: 12rem;
    height: 2.5rem;
    background-color: #222; }
  .articles-collection .curated-article__paragraph {
    height: 10rem;
    margin-top: 2rem;
    background-color: rgba(102, 102, 102, 0.2); }
  .articles-collection .curated-article__main-footer {
    width: 8rem;
    height: 1.5rem;
    margin: 0 auto;
    margin-top: 7rem;
    background-color: #444; }

.main-footer {
  position: relative;
  padding: 5rem 0;
  background-color: rgba(102, 102, 102, 0.4); }
  .main-footer__topics-list {
    height: 15rem;
    margin: 4.5rem 0;
    background-color: rgba(68, 68, 68, 0.9); }
  .main-footer__title {
    width: 15rem;
    height: 2rem;
    margin: 0 auto;
    background-color: rgba(102, 102, 102, 0.8); }
  .main-footer__notes {
    width: 22rem;
    height: 5rem;
    margin: 0 auto;
    background-color: rgba(119, 119, 119, 0.2); }
  .main-footer__links {
    width: 22rem;
    height: 5rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    background-color: rgba(119, 119, 119, 0.6); }
  .main-footer__to-top-btn {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem; }
