$primary-color: #dd3a2c;

$blue: #006fc6;
$green: #19a972;
$orange: #ff5a00;
$purple: #aa1994;
$black: #000;
$white: #fff;

$dark-gray: #333;
$medium-gray: #666;
$light-gray: #999;



// fonts
$serif: Georgia, 'Times New Roman', Times, serif;
$sans-serif: Arial, Helvetica, sans-serif;


$hierarchy-weight-1: #111;
$hierarchy-weight-2: #222;
$hierarchy-weight-3: #333;
$hierarchy-weight-4: #444;
$hierarchy-weight-5: #555;
$hierarchy-weight-6: #666;
$hierarchy-weight-7: #777;


$bg-color-light: #999;
$bg-color-medium: #888;
$bg-color-dark: #777;


