

$hierarchy-weight-1: #111;
$hierarchy-weight-2: #222;
$hierarchy-weight-3: #333;
$hierarchy-weight-4: #444;
$hierarchy-weight-5: #555;
$hierarchy-weight-6: #666;
$hierarchy-weight-7: #777;


$bg-color-light: #999;
$bg-color-medium: #888;
$bg-color-dark: #777;