.featured {
    padding: 3rem;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 5rem;
    }
    &__header {
        flex: 1;
    }
}