.headline-content {
    padding: 6rem 0;
    &__row {
        display: flex;
        gap: 3rem;
       
        
        & > *:first-child {
            flex: 1 1 65%;
        }
        & > *:last-child {
            flex: 1  1 34%;
        }
        @media(max-width: 1200px){
            flex-wrap: wrap;
        }
       
    }
    .author-post {
        &__row {
            display: flex;
            align-items: center;
            gap: 3rem;
          
            @media(max-width: 650px){
               flex-direction: column;
            }
            &:last-child {
                flex: 1;
            }
        }
        &__text-box {
            width: 100%;
            flex: 1 1 100%;
        }
        &__text-box-row {
           display: flex;
        }
    }
    &__posts {
        margin-top: 5rem;
    }
}