.header-nav {
    background-color: rgba($bg-color-light, .8);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    @media(max-width: 1200px){
      & > * {
          flex: 1 1 100%;
      }  
    }
}