.nav {
    flex: 1 1 60%;

    &__list {
        display: flex;
        justify-content: space-evenly;
        list-style: none;   
    }
    &__item {
        @media(max-width: 1350px){
            &:nth-child(1) {
                display: none;
            }
        }
        @media(max-width: 1100px){
            &:nth-child(2) {
                display: none;
            }
        }
        @media(max-width: 950px){
            &:nth-child(3) {
                display: none;
            }
        }
        @media(max-width: 800px){
            &:nth-child(4) {
                display: none;
            }
        }
        @media(max-width: 650px){
            &:nth-child(5) {
                display: none;
            }
        }
    }
    
    &__item--active &__link {
        background: rgba($hierarchy-weight-5, .6);
    }
    
    &__link {
        &:link,
        &:visited {
            padding: 1rem;
            border-radius: 15px;
            color: $white;
            font: 700 1.3rem $sans-serif;
            &:hover {
                background-color: rgba($hierarchy-weight-5, .6);
            }
        }    
    }
}