.search-form {
    &__control {
        width: 15rem;
        height: 2rem;
        background-color: $hierarchy-weight-4;

        @media(max-width: 1200px){
            flex: 1 1 100%;
        }
    }
}